body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff512f, #dd2476);
}

.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 100px;
}

form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

::placeholder {
    color: #aaa;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f85032;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #e63946;
}

@media (max-width: 400px) {
    form {
        width: 85%;
        padding: 20px;
    }
}