.user-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile-outline-div {
    padding: 40px;
    display: flex;
    width: 100%;
}

.user-details-div {
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically in center */
    margin-bottom: 20px; /* Optional spacing */
}

.edit-icon {
    margin-bottom: 100px;
}

.goals-div {
    flex: 3;
    padding: 20px;
}