.goals-title {
    text-align: left; 
    margin-left: 15px;
}

.goal-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px;
    gap: 25px;
}

.goal-card {
    position: relative;
    height: 150px;
    width: 150px;
    border: 2px solid;
    box-shadow: none;
}

.short-term-goal-card {
    border-color: #FFCC99;
}

.long-term-goal-card {
    border-color: #99CC99;
}

@media (max-width: 600px) {
    .goals-container {
        justify-content: center;
    }
    .goal-card {
        width: 100%;
        margin-bottom: 10px;
    }
}