.goals-title {
    text-align: left; 
    margin-left: 15px;
}

.goal-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px;
    gap: 25px;
}

.goal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures that the buttons align to the bottom */
    position: relative;
    height: 150px;
    width: 150px;
    border: 2px solid;
    box-shadow: none;
}

.short-term-goal-card {
    border-color: #FFCC99;
}

.long-term-goal-card {
    border-color: #99CC99;
}

.goals-buttons-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.done-button, .edit-button {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* Adjust based on your layout */
}

@media (max-width: 600px) {
    .goals-container {
        justify-content: center;
    }
    .goal-card {
        width: 100%;
        margin-bottom: 10px;
    }
}