<div class="goals-container">
    <div class="header-container">
        <h1 class="goals-title">My Goals</h1>
        <button
            (click)="openCreateGoalModal()"
            [disabled]="shortTermGoals.length + longTermGoals.length === 8"
            mat-icon-button
            matTooltip="Create a new goal"
            class="create-goal-button"
            aria-label="Add"
        >
            <mat-icon>add</mat-icon>
          </button>
    </div>

    <div class="goal-cards-container">
        <div *ngFor="let goal of shortTermGoals">
            <mat-card tabindex="0" class="short-term-goal-card goal-card">
                <div [id]="goal.id" (click)="openGoalViewModal(goal)" style="cursor: pointer;">
                    <mat-card-content class="truncate-text">{{ goal.title }}</mat-card-content>
                    <br/>
                    <mat-card-content class="truncate-text">{{ goal.notes }}</mat-card-content>
                    <mat-card-content>{{ goal.deadline | date }}</mat-card-content>
                </div>
                <div class="goals-buttons-div">
                    <mat-icon [id]="goal.id" class="done-button" aria-label="Check" style="cursor: pointer;" (click)="goalCompleted(goal)">done</mat-icon>
                    <mat-icon [id]="goal.id" class="edit-button" aria-label="Edit" style="cursor: pointer;" (click)="openEditGoalModal(goal)">edit</mat-icon>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="goal-cards-container">
        <div *ngFor="let goal of longTermGoals">
            <mat-card tabindex="0" class="long-term-goal-card goal-card">
                <div [id]="goal.id" (click)="openGoalViewModal(goal)" style="cursor: pointer;">
                    <mat-card-content class="truncate-text">{{ goal.title }}</mat-card-content>
                    <br/>
                    <mat-card-content class="truncate-text">{{ goal.notes }}</mat-card-content>
                    <mat-card-content>{{ goal.deadline | date }}</mat-card-content>
                </div>
                <div class="goals-buttons-div">
                    <mat-icon [id]="goal.id" class="done-button" aria-label="Check" style="cursor: pointer;" (click)="goalCompleted(goal)">done</mat-icon>
                    <mat-icon [id]="goal.id" class="edit-button" aria-label="Edit" style="cursor: pointer;" (click)="openEditGoalModal(goal)">edit</mat-icon>
                </div>
            </mat-card>
        </div>
    </div>
</div>