<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2>Edit Profile</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" placeholder="Enter name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email" placeholder="Enter email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password" placeholder="Enter password" class="form-control">
  </div>
  <div class="form-group">
      <label for="photo">Upload Photo</label>
      <input type="file" (change)="onFileChange($event)" id="photo" class="form-control">
  </div>
  <mat-dialog-actions>
    <button mat-button class="btn btn-primary" (submit)="onSubmit()">Save Changes</button>
  </mat-dialog-actions>
</form>
